project_id      = "project-d1495bcf-fa0b-400c-bdb"
region          = "southamerica-east1"
cloud_run_image = "southamerica-east1-docker.pkg.dev/project-d1495bcf-fa0b-400c-bdb/movia-backend/movia-backend-staging:latest"
